<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<%= form_with model: @user do |f| %>
  <p>image:実装街</p>
  <p>name</p>
  <%= f.text_field :name %>
  <p>introduction</p>
  <%= f.text_area :introduction %>
  <%= f.submit "Save profile"%>
<% end %>