
<h1>User info</h1>
    <%#ここにユーザー情報を表示 %>



<h1>New Book</h1>
<%= form_with model: @book do |f| %>
        <p>title</p>
    <%= f.text_field :title  %>
    <p>Opinion</p>
    <%= f.text_area :opinion %>

    <%= f.submit 'Create book', class: "btn btn-success" %>
<% end %>
