<div class ="container px-5 sx-sm-0">
    <div class ="row">
        <%= render "errors", object: @book %>
    </div>
    <div class="row">

        <div class ="col-md-3">
            <%= render 'sidebar' %>
        </div>
        <div class ="col-md-8 offset-md-1">
            <h2>Books</h2>
            <%= render "list" %>
        </div>
    </div>
</div>